<footer>
  <p><%= current_year %></p>
  <p>Fedor Mutovin</p>
  <p>Приложение для прохождения тестов</p>
  <%= github_url('FedorMutovin', 'testguru') %>
  <a href="https://thinknetica.com/">"Учебный проект в онлайн-школе Thinknetica"</a>
</footer>